@import '../constants';

.abilities-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-auto-flow: column;

  @include tabletDown {
    grid-auto-flow: row;
  }

  .ability-container {
    display: grid;
    grid-template-columns: 180px 200px;
    grid-template-rows: auto;
    grid-template-areas: "name rating";
    margin: 3px 0;

    @include tabletDown {
      grid-template-columns: 110px 200px;
    }

    .ability-name {
      grid-area: name;
    }

    .ability-rating {
      grid-area: rating;

      .star-rating-container {
        display: flex;
      }

      .star-rating {
        height: 32px;
        width: 32px;

        @include tabletDown {
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}