@import '../constants';

.basic-avatar {
  grid-area: avatar;
  width: 180px;
  height: 180px;
  border-radius: 10px;

  @include tabletDown {
    margin-bottom: 10px;
  }
}

.basic-stats {
  grid-area: stats;
  display: flex;
  flex-direction: column;

  p {
    margin: 0
  }
}

.basic-container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
  grid-template-areas:
    "avatar stats"
    "avatar free-text"
    "all-list-data all-list-data";

  @include tabletDown {
    grid-template-columns: 100%;
    grid-template-areas:
    "avatar"
    "stats"
    "free-text"
    "all-list-data";
  }

  p {
    margin: 0
  }

  .basic-free-text {
    grid-area: free-text;
    text-align: left;

    p {
      margin-top: 16px;
    }
  }

  .basic-list-data {
    display: grid;
    grid-area: all-list-data;
    box-sizing: border-box;

    .list-data-container {
      display: grid;
      grid-template-columns: 1fr 2.5fr;
      margin-top: 24px;

      @include tabletDown {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
      }

        .ff-card {
        min-width: 220px;
        height: fit-content;
        padding: 8px 16px;
        margin-top: 12px;
        color: $ffTeal;

        @include tabletDown {
          margin-bottom: 0;
          width: 200px;
        }
      }

      .list-data-items {
        margin: 0 0 0 20px;
        justify-content: flex-start;

        @include tabletDown {
          margin: 0;
        }
      }
    }
  }

}

.basic-stat-title {
  grid-area: title;
  color: $ffTeal;
}

.basic-stat-current {
  grid-area: value;
  text-align: right;
}

.basic-stat-divider {
  grid-area: divider;
  text-align: center;
}

.basic-stat-max {
  grid-area: max;
  text-align: right;
}

.basic-stat-container {
  display: grid;
  grid-template-columns: 40px 57px 15px 57px;
  grid-template-rows: auto;
  grid-template-areas:
    "title value divider max";

  @include tabletDown {
    grid-template-columns: 20px 50px 25px 35px;
  }

  &.long-stat {
    grid-template-columns: 40px 132px;
    @include tabletDown {
      grid-template-columns: 20px 97px;
    }
  }
}
