@import '../constants';

.ff-experience-container {
  display: grid;
  grid-template-areas:
    "summary"
    "data";
}

// SUMMARY

.experience-summary {
  grid-area: summary;
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: auto;
  grid-template-areas:
    "avatar items";
}

.summary-avatar {
  grid-area: avatar;
  width: 100px;
  border-radius: 10px;
}

.summary-items {
  grid-area: items;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.summary-item {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto;
  grid-template-areas:
    "item-title item-value";
  margin: 0;
}

.item-title {
  grid-area: item-title;
  color: $ffTeal
}

.item-value {
  grid-area: item-value;
}

// DATA

.experience-data-container {
  grid-area: data;
}

.experience-data {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "data-title"
    "data-description";
  margin: 20px 0;
}

.data-title {
  grid-area: data-title;
  color: $ffTeal;
  margin: 0 0 5px;
}

.data-description {
  grid-area: data-description;

  p {
    margin: 0;
  }
}
