@import '../constants';

.core-stats {
  display: flex;
  flex-direction: row;
}

.character {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.name {
  margin-bottom: 20px;
}

.stats-title {
  color: $ffTeal
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 10px;

  @include tabletUp {
    width: 180px;
    height: 180px;
  }
}
