@import '../constants';

.character-name {
  grid-area: name;
  margin-bottom: 15px;
}

.character-pronouns {
  grid-area: pronouns;
}

.character-avatar {
  grid-area: avatar;
  width: 100px;
  height: 100px;
  border-radius: 10px;

  @include tabletUp {
    width: 180px;
    height: 180px;
  }
}
.stats {
  grid-area: stats;
  display: flex;
  flex-direction: column;

  p {
    margin: 0
  }
}

.status-container {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: auto;
  grid-template-areas:
    "name pronouns"
    "avatar stats"
    "avatar ."
    "avatar .";

  p {
    margin: 0
  }
}

.stats-title {
  color: $ffTeal
}
