.experience {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 50px 0;
    border-top: solid 2px darkgoldenrod;
    border-bottom: solid 2px darkgoldenrod;
}

.experience-title {
    height: 100%;
    width: 100%;
    margin: 10px;
    font-weight: 500;
}

.experience-summary {
    margin: 30px 40px 0;
    font-size: 16px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.extra-information-enter {    
    opacity: 0;
}
.extra-information-enter-active {
    opacity: 1;
    transition: 1s;
}
.extra-information-exit {
    opacity: 1;
}
.extra-information-exit-active {
    opacity: 0;
    transition: 1s;
}