.experience {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 50px 0;
    border: solid 2px darkgoldenrod;
}

.experience-break-line {
    width: calc(100% - 20px);
    margin: 0 10px;
    border-color: darkgoldenrod;
}

.experience-title {
    height: 100%;
    width: 100%;
    margin: 10px;
    font-weight: 500;
}

.experience-summary {
    margin: 30px 40px 0;
    font-size: 16px;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}
