.experience {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 50px 0;
    border-top: solid 2px darkgoldenrod;
    border-bottom: solid 2px darkgoldenrod;
}

.experience-title {
    height: 100%;
    width: 100%;
    margin: 10px;
    font-weight: 500;
}

.experience-summary {
    background-color: #eff0f1;
    margin: 30px 40px 0;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    line-height: 1.5;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.project-popup-enter {
    opacity: 0;
}

.project-popup-enter-active {
    opacity: 1;
    transition: opacity 400ms;
}

.project-popup-exit {
    opacity: 1;
}

.project-popup-exit-active {
    opacity: 0;
    transition: opacity 400ms;
}
