.experience {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 50px 0;
    border-top: solid 2px darkgoldenrod;
    padding-top: 20px;
}

.experience-title {
    height: 100%;
    width: 100%;
    margin: 10px;
    font-weight: 500;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.project-popup-enter {
    opacity: 0;
}

.project-popup-enter-active {
    opacity: 1;
    transition: opacity 400ms;
}

.project-popup-exit {
    opacity: 1;
}

.project-popup-exit-active {
    opacity: 0;
    transition: opacity 400ms;
}
