@import 'constants';

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 30px;

  @include tabletUp {
    margin: 0 5vw 50px;
    min-width: 640px;
  }
}

.code-block {
  background-color: #eff0f1;
  margin: 30px 0;
  padding: 10px;
  border-radius: 3px;
  font-size: 16px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  line-height: 1.5;

  &.dark-theme {
    background-color: $codeBlack;
    color: $codeBlue;
  }

  @include tabletUp {
    margin: 30px 40px 0;
    min-width: 600px;
  }
}

.tag-container {

  @include tabletUp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  & .tag-wrapper {
    flex-direction: column;

    @include tabletUp {
      min-width: 200px;
    }

    & > .tag + .tag {
      margin-top: 1rem;
    }
  }
}

.tag {
  color: $codeYellow;

  ~ .indented-tag {
    padding-left: 20px;
  }
}

.indented-text {
  padding-left: 20px;
  text-wrap: normal;
  p {
    margin: 0;

    + p {
      margin-top: 12px;
    }
  }

  ul {
    margin: 0;
    padding: 0 0 0 20px;

    li {
      list-style-type: none;

      @include mobileUp {
        list-style-type: initial;
      }
    }
  }
}


.about-me {
  margin: 20px;
  padding: 20px;

  @include tabletUp {
    margin: 20px 5vw;
  }

  & .expand-truncate-icon {
    float: right;
  }
}

.truncated {
  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:not(:first-child) {
      display:none;
    }
  }
}

a {
  color: darkgoldenrod;
}
