.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.profile-photo {
    padding: 30px 50px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.header_details {
    width: 100%;
    align-self: center;
    text-align: left;
}

.header-detail {
    display: flex;
    flex-direction: row;
    line-height: 1.8;
}

.icon-container {
    width: 40px;
    height: 40px;
    text-align: center;
    padding-right: 20px;
}

.icon {
    color: #5394EC;
}

.linkedin {
    color: #0077b5
}