.header {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: 100%;
    top: 0;
    background-color: #0a0941;
}

.profile_photo {
    padding: 50px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.header_details {
    width: 100%;
    align-self: center;
    text-align: left;
}

.header-detail {
    display: flex;
    flex-direction: row;
    line-height: 1.8;
}

.icon-container {
    width: 40px;
    height: 40px;
    text-align: center;
    padding-right: 20px;
}