.app-body {
    background-color: floralwhite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: black;
    padding: 0 150px;
}

@media (max-width: 1280px) {
    .app-body  {
        padding: 0 50px;
    }
}

@media (max-width: 920px) {
    .app-body  {
        padding: 0;
    }
}

.experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px 50px;
}

.code-block {
    background-color: #eff0f1;
    margin: 30px 40px 0;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    line-height: 1.5;
}

.code-block.dark-theme {
    background-color: #2B2B2B;
    color: #5394EC;
}

.about-me {
    margin: 20px 90px;
}

.tag {
    color: #E8BF6A;
}

.indented-text {
    padding-left: 30px;
}